@font-face {
    font-family: Varela;
    src: url('../assets/base/VarelaRound-Regular.ttf') format('truetype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Varela;
}
/* ---------------- index.php ------------------------ */
.mainmenu{
    margin-top: 150px;
    color: #000;
}
.mainmenu p{
    font-size: 52px;
    font-weight: bolder;
    margin-top: 20px;
}
.mainmenu span{
    font-size: 14px;
}
.mainmenu cite{
    font-size: 26px;
    color: #747d8c;
}
.msglogin{
    width: 550px;
    margin: 5px auto;
}
.formlogin{
    width: 375px;
    margin: 20px auto;
}
.formlogin .formmodel label{
    font-size: 22px;
    color: #ED4C67;
    margin-top: 10px;
    margin-bottom: 5px;
}
.formlogin button{
    width: 85%;
    margin: 25px auto;
    padding: 9px 5px;
    font-size: 22px;
}
.systemsupport {
    color: #95a5a6;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mainfoot{
    font-size: 36px;
}
.mainfoot a{
    margin: 5px 20px;
}
/* ---------------- index.php ------------------------ */
/* ---------------- error404 ---------------- */
.errorall{
    margin: 100px auto;
    padding: 10px;
    width: 60%;
    border-radius: 1rem;
    background-color: #f1f2f6;
    color: #000;
}
.errorall h1 i:nth-child(1){
     color: #e74c3c;
}
.errorall p{
    color: #747d8c;
}
.errorall a{
    text-decoration: none;
    font-size: 24px;
}
/* ---------------- error404 ---------------- */
/* ---------------- systemuser ---------------- */
/* ------ menu ----- */
.menusystemuser{
    background-color: #778ca3;
    width: 100%;
    height: 50px;
}
.menusystemuser img{
    margin: 2px;
}
.menusystemuser strong{
    font-size: 22px;
    color: #fff;
}
.menusystemuser span{
    font-size: 12px;
}
.menusystemuser .container .row .col-sm-1{
    padding: 0px;
    margin: 0px;
}
.menusystemuser .container .row .col-sm-2{
    padding: 0px;
    margin: 0px;
}
#normaldropdown{
    width: 220px;
}
#accdropdown{
    width: 220px;
}
#accdropdown li:nth-child(1){
    padding-left: 15px;
}
#accdropdown li:nth-child(1) span{
    font-size: 16px;
}
#accdropdown small{
    font-size: 10px;
    color: #7f8c8d;
}
/* ------ button dashboard ----- */
.menusystemuser .container .row .col-sm-1:nth-child(2){
    margin-top: 12px;
}
/* ------ button dashboard ----- */
/* ------ button tickets ----- */
.menusystemuser .container .row .col-sm-1:nth-child(3){
    margin-top: 15px;
}
/* ------ button tickets ----- */
#menubuttons{
    padding-top: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
#menubuttons:hover{
    background-color: #4b6584;
}
#menubuttons i{
    font-size: 20px;
}
#accbutton{
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4b6584;
}
#accbutton:hover{
    background-color: #2d3436;
}
#accbutton span{
    color: #fff;
    font-size: 20px;
}
#verifyicon{
    color: #1DA1F3;
}
#notifydropdown{
    width: 265px;
}
#notifydropdown small{
    font-size: 12px;
    color: #7f8c8d;
}
#notifycount{
    font-size: 12px;
    padding: 5px 7px;
}
/* ------ menu ----- */
/* ------ dashboard ----- */
.dashboardicons{
    margin-top: 20px;
}
.dashboardicons h2{
    width: 40%;
    padding: 15px;
    background-color: #778ca3;
    color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 8px #2c3e50;
}
.dashboardicons small{
    margin-left: 50px;
    font-size: 12px;
    color: #7f8c8d;
}
.dashboardicons .container .row .col{
    padding: 20px 5px;
    margin: 10px 15px;
    border-radius: 3rem;
    text-decoration: none;
}
.dashboardicons .container .row .col strong{
    font-size: 62px;
}
/* ------ dashboard ----- */
/* ------ dashboard icons buttons ----- */
.dashboardicons .container .row .col:nth-child(1){
    background-color: #C1F1DA;
    color: #05C46B;
    border: solid 4px #05C46B;
}
.dashboardicons .container .row .col:nth-child(1):hover{
    background-color: #82E2B5;
    color: #4b6584;
    border: solid 4px #4b6584;
}
.dashboardicons .container .row .col:nth-child(2){
    background-color: #FFEAC0;
    color: #FFA801;
    border: solid 4px #FFA801;
}
.dashboardicons .container .row .col:nth-child(2):hover{
    background-color: #FFD480;
    color: #4b6584;
    border: solid 4px #4b6584;
}
.dashboardicons .container .row .col:nth-child(3){
    background-color: #FFCFCC;
    color: #FF3F34;
    border: solid 4px #FF3F34;
}
.dashboardicons .container .row .col:nth-child(3):hover{
    background-color: #FF9F99;
    color: #4b6584;
    border: solid 4px #4b6584;
}
.dashboardicons .container .row .col:nth-child(4){
    background-color: #E0E3E6;
    color: #808E9B;
    border: solid 4px #808E9B;
}
.dashboardicons .container .row .col:nth-child(4):hover{
    background-color: #C0C7CD;
    color: #4b6584;
    border: solid 4px #4b6584;
}
/* ------ dashboard icons buttons ----- */
/* ------ buttons aside ----- */
.buttonsinteract{
    width: 50%;
    margin: 45px auto;
}
.buttonsinteract h2{
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #34495e;
    color: #fff;
    font-size: 48px;
    box-shadow: 0px 10px #2c3e50;
    border-radius: 3rem;
}
.buttonsinteract a{
    width: 40%;
    margin: 30px 20px;
    font-size: 28px;
    padding: 20px 10px;
}
/* ------ buttons aside ----- */
/* ------ cracha area ----- */
.userview{
    width: 80%;
    margin: 5px auto;
}
.userview h1{
    width: 40%;
    margin: 10px auto;
    padding: 10px 5px;
    color: #fff;
    background-color: #778ca3;
    border-radius: 1rem;
}
.userview .card{
    width: 375px;
    margin: 20px auto;
    color: #fff;
    background-color: #273c75;
}
.userview .card p{
    font-size: 32px;
}
.userview .card ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    padding: 0px 20px;
}
.userview .card .card-header{
    background-color: #192a56;
}

.userview .card .card-footer{
    background-color: #192a56;
}
/* ------ cracha area ----- */
/* ---------------- systemuser ---------------- */
/* ---------------- change-password ------------- */
.backdefault{
    width: 50%;
    margin: 40px auto;
}
.backdefault a{
    text-decoration: none;
    font-size: 32px;
}
.formpassword{
    width: 60%;
    margin: 20px auto;
}
.formpassword strong{
    font-size: 46px;
}
.formpassword .alert{
    width: 70%;
    margin: 10px auto;
}
.formpassword ul{
    margin-bottom: 0px;
}
.formpassword label{
    font-size: 24px;
    font-weight: bold;
}
.formpassword .form-control{
    width: 40%;
    margin: 15px auto;
}
.formpassword button{
    width: 40%;
    padding: 15px 5px;
    font-size: 24px;
    margin-top: 20px;
}
/* ---------------- change-password ------------- */
/* ----------------- my-profile -------------- */
.profileinfo{
    width: 60%;
    margin: 10px auto;
}
.profileinfo h1{
    padding: 10px 30px;
    border-radius: 1rem;
    background-color: #34495e;
    box-shadow: 0px 8px #2c3e50;
    color: #fff;
}
/* ----------------- my-profile -------------- */